.headers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: x-large;
}

.page-number:hover {
  color: rgb(78, 78, 255);
  cursor: pointer;
}

.btn {
  background-color: #0088f8;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 20px;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
}

.ticker-input {
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  outline: none;
}

.ticker-input:focus {
  background: rgb(248, 248, 248);
  border: 1px solid rgb(171, 171, 255);
}

.App {
  text-align: center;
}
