.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: x-large;
}

.headers > div {
  cursor: pointer;
}

.help-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 50px;
  font-size: larger;
  border: 2px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.page-number:hover {
  color: rgb(78, 78, 255);
  cursor: pointer;
}

.page-number-active {
  color: rgb(78, 78, 255);
  cursor: pointer;
}

.btn {
  background-color: #0088f8;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 20px;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
}

.ticker-input {
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  outline: none;
}

.ticker-input:focus {
  background: rgb(248, 248, 248);
  border: 1px solid rgb(171, 171, 255);
}

.App {
  text-align: center;
}
