.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
  font-size: x-large;
}

.headers > div {
  cursor: pointer;
}
